.Body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
    gap: 1rem;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 10px 10px 10px lightgray;
    flex-wrap: nowrap;

}


.Header {
    display: flex;
    gap: 2rem;
}

.Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;


    p {
        font-size: 0.5rem;
        margin: 0.2rem;
        color: rgb(147, 146, 146);
    }
}

.Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    color: rgb(147, 146, 146);

    p:hover {
        color: black;
    }
}